body {
    font-family: sans-serif;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

main {
    padding: 0.5rem;
    min-height: 100vh;
}

figure {
    margin: 0; 
    padding: 0;
    margin-bottom: 2rem;
}

img {
    max-width: 50vw;
    max-height: 25vw;
    display: block;
    margin: auto;
}
section {
    display: flex;
    flex-flow: row wrap;
    max-width: 40vw;
    margin: auto;
    align-items: baseline;
}

#clickMeBtn {
    padding: 5px 20px;
    margin: 10px auto;
    float: right;
}

#greeting {
    margin: 10px auto;
    padding: 10px 60px;
    border: 1px solid #222;
}

#greeting:empty {
    display: none;
}

#canvas {
    max-width: 100%;
}

#grid {
    position: relative;
    height: 200px;
    width: 200px;
    aspect-ratio: 1;
    max-width: 95vw;
    max-height: 95vw;
    display: grid;
    grid-template-columns: repeat(200, 1fr);
    grid-template-rows: repeat(200, 1fr);
}

#grid button {
    border: none;
    background: black;
    height: 1px;
    aspect-ratio: 1;
    padding: 0;
    margin: 0;
}
